.container-size{

     margin-left: 300px;
     margin-right: 5ch;
     
     background-color: white;
 }
 
 
 
 .favoritos-container{
     background-color: #071F4E;
     display: flex;
  
     height: auto;
     border-radius: .5ch;
     margin-top: 1em;
     color: #fff;
 }
 
 .bcolor{
     background-color: white;
     margin-bottom: 2em;
     height: auto;
     border-radius: 5px;
 
 }
 
 .pago{
     height: auto;
 
     background-color: white;
     margin-bottom: 2em;
     border-radius: 5px;
     
 }
 .color{
     color: #fff;
     margin-top: 12px;
     margin-left: 20px;
 }
 
 p{
     color: #071F4E;
 }
 
 label{
     color: #E4A193;
 }