<app-sidebar-planificador></app-sidebar-planificador>
<div class="container-size">
  <div class=" mt-5">
    <!--<div class="card-header">
      <h5 class="card-title">Eventos</h5>
    </div> -->
    <div class="card-body">
      <div class=" mb-3">
        <div class="row">
          <div class="col">

            <h2 class="card-title">Planes</h2>
          </div>
         
        </div>
        
      </div>
      <div class="justify-content-center" style="margin-left: 85px;">
        <div class="container ">
          <br><br>
          <div class="row row-cols-1 row-cols-md-2 mb-2 ">
            
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
              
                <div class="card-body precios">
                  <h3 class="my-0 text-center">Premium</h3>
                  <h5 class="text-center titulo">Planifique y organice sus proximos eventos de manera eficiente </h5>
                  <h1 class="card-title pricing-card-title text-center">$150<small class="text-muted fw-light">/mes</small></h1>
                  
                  <ul class="x mt-3 mb-4">
                    <li>Invitados ilimitados</li>
                    <li>Eventos ilimitados</li>
                  </ul>
                  <br><br>
                  <button type="button" class="w-100 h-75 btn btn-lg btn-warning" routerLink="/compra-plan">Empezar</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm ">
                
                <div class="card-body precios">
                  <h3 class="my-0 text-center">Empresarial</h3>
                  <h5 class="text-center titulo">Planifique y organice sus proximos eventos de manera eficiente </h5>
                  <h1 class="card-title pricing-card-title text-center">$2,000<small class="text-muted fw-light">/mes</small></h1>
                  <ul class="x mt-3 mb-4">
                    <li>Invitados ilimitados</li>
                    <li>Eventos ilimitados</li>
                    <li>Descuentos semanales</li>
                  </ul>
                  <br>
                  <button type="button" class="w-100 h-75 btn btn-lg btn-warning" routerLink="/compra-plan">Empezar</button>
                </div>
              </div>
            </div>
          </div>
      
        </div>

      </div>
    </div>
  </div>
</div>

