<app-sidebar-prov></app-sidebar-prov>
<div class="container-size">
 
    <div class="card mt-5">
      
      <div class="card-body">
        <div class="container mb-3">
          <div class="row">
            <div class="col">
              <h3 class="card-title">Mis servicios</h3>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Buscar...">
            <!----  <p class="d-flex flex-row-reverse no-event">No tienes ningun evento</p>-->
            </div>
          </div>
          
        </div>
        <div class="container bcolor">
          <table class="table bcolor">
            <!--<thead>
              <tr>
                
              </tr>
            </thead> -->
            <tbody class="container ">
            
              <tr *ngFor="let s of services">
                <div class="favoritos-container ">
                  <img src="../../../assets/Imagenes/testimonios/test-pizzas.jpg" style="width: 50px; height: 50px; border-radius: 6px; object-fit: cover;">
                  <h6 class="color">{{ s.name }}</h6>
                  
                  <div class="d-flex flex-row-reverse" style="margin-left: 600px; margin-top:10px;">
                    <div (click)="delete_service(s._id)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" style="color: #F6B33E; cursor:pointer; ">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                    </div>
                    <div [routerLink]="['/proveedor/edit',s._id]">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" style="color: #F6B33E; cursor:pointer; ">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    </div>
                  </div>
                </div>
              </tr>
              <tr>
                
                  <div class="favoritos-container d-flex align-items-center">
                    <div class="flex-grow-1 ms-3">
                     <h6 class="color">Agregar un servicio</h6>
                    </div>
                     <div class="d-flex flex-row-reverse">
                      <div class="d-flex flex-row-reverse" style="margin-left: 700px; margin-top:10px;" routerLink="/proveedor/add">
                     <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16" style="color: #F6B33E; cursor:pointer; ">
                      <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                    </svg>
                    </div>
                    </div>
                    </div>
                
              </tr>
  <br><br>
               <!-- CONTAINER PAGINATION -->
        <div *ngIf="services.length > 0" class="row mt-3">
          <div class="col-12">
            <!-- PAGINATION -->
            <div>
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <button class="page-link" aria-label="Previous" (click)="previousPage()">
                    <span aria-hidden="true">&laquo;</span>
                  </button>
                </li>
                
                <li *ngFor="let btnInfo of btns" class="page-item">
                    <button id="paginationBtn{{btnInfo.textBtn}}" class="page-link {{ currentPage === btnInfo.textBtn ? 'paginationActive': '' }}" (click)="getSearch( btnInfo.from ); getCurrentPage(btnInfo.textBtn);" >{{ btnInfo.textBtn }}</button>
                </li>
                
                <li class="page-item">
                  <button class="page-link" aria-label="Next" (click)="nextPage()">
                    <span aria-hidden="true">&raquo;</span>
                  </button>
                </li>
              </ul>
            </div>
            <!-- /PAGINATION -->
          </div>
        </div>
        <!-- /CONTAINER PAGINATION -->
            </tbody>
            
          </table>
        </div>
      </div>
    </div>
 

 