.container-size{

    margin-left: 300px;
    margin-right: 5ch;
    
    background-color: white;
}


.favoritos-container{
    background-color: #071F4E;
  
    height: auto;
    border-radius: .5ch;
    margin-top: 1em;
    color: #fff;
}

.bcolor{
    background-color: white;
    margin-bottom: 2em;
    height: auto;
}

.color{
    color: #fff;
    margin-top: 12px;
    margin-left: 20px;
}

.btn-primary, .col-form-label{
    color: #fff;
}

.servicio{
    object-fit: cover;
    border-radius: 6px; 
    width: 70px; 
    height: 70px; 
}
