<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed':''">
  <div class="sidenav-coll-btn" *ngIf="collapsed">
    <div class="sidenav-coll-btn-div">
      <button class="btn btn-primary " id="sidebarToggle" aria-expanded="false" (click)="closeSidenav()"> 
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="sidenav-coll-btn-sm" *ngIf="!collapsed">
    <button class="btn btn-primary " id="sidebarToggle" aria-expanded="false" (click)="closeSidenav()"> 
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="logo-container">
    <div class="container mt-4 mb-4">
      <a class="container-link" (click)="toggleCollapse()" *ngIf="collapsed">
        <img  src="../../../assets/Imagenes/Logos/logo-floor.png"  class="image-link" @fadeInOut>
      </a>
      <div class="container-link-sm" *ngIf="!collapsed">
        <img  src="../../../assets/Imagenes/Logos/logo-floor.png" class="image-link" @fadeInOut> 
      </div>
    </div>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" routerLink="/planificador/dashboard"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">
          <i class="sidenav-link-icon" >
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
              <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
              <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
              <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
            </svg>
          </i>
        <span class="sidenav-link-text" *ngIf="collapsed">Dashboard</span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" routerLink="/planificador/favoritos"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">
          <i class="sidenav-link-icon" >
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
              <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg> 
          </i>
          <span class="sidenav-link-text" *ngIf="collapsed">Favoritos</span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" routerLink="/planificador/eventos"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
          <i class="sidenav-link-icon" >
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-balloon" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 9.984C10.403 9.506 12 7.48 12 5a4 4 0 0 0-8 0c0 2.48 1.597 4.506 4 4.984ZM13 5c0 2.837-1.789 5.227-4.52 5.901l.244.487a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3.177 3.177 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.244-.487C4.789 10.227 3 7.837 3 5a5 5 0 0 1 10 0Zm-6.938-.495a2.003 2.003 0 0 1 1.443-1.443C7.773 2.994 8 2.776 8 2.5c0-.276-.226-.504-.498-.459a3.003 3.003 0 0 0-2.46 2.461c-.046.272.182.498.458.498s.494-.227.562-.495Z"/>
            </svg>
          </i>
          <span class="sidenav-link-text" *ngIf="collapsed">Eventos</span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" routerLink="/planificador/servicios"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
          <i class="sidenav-link-icon" >
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-basket2" viewBox="0 0 16 16">
              <path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0v-2z"/>
              <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6H2.163z"/>
            </svg>
          </i>
          <span class="sidenav-link-text" *ngIf="collapsed">Servicios</span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" routerLink="/planificador/planes"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
        <i class="sidenav-link-icon" >
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-bookmark-star" viewBox="0 0 16 16">
            <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z"/>
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
          </svg> 
        </i>
        <span class="sidenav-link-text" *ngIf="collapsed">Planes</span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" (click)="cerrarSesion()">
        <i class="sidenav-link-icon" >
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
          </svg>  
        </i>
        <span class="sidenav-link-text" *ngIf="collapsed"><div style="display: flex; justify-content:center;">Cerrar Sesión</div></span>
      </a>
    </li>
  </ul>
</div> 
<div class="page">
  <div class="content-toggle">
    <div class="navigationBar">
      <div class="container-fluid">
        <button class="btn btn-primary " id="sidebarToggle" aria-expanded="false"> 
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="container">
        <a href="#" class="d-block " id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 500px;" routerLink="/planificador/perfil">
          <!--<img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle"  routerLink="/planificador/perfil">-->
          <img src="../../../assets/Imagenes/usuario.png" alt="mdo" width="32" height="32" class="rounded-circle"  routerLink="/proveedor/perfil">
          
        </a>
      </div>
    </div>
  </div>
</div>