<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-primary">
            <a href="" style="margin-right: 100px;">
                <img src="../../../assets/Imagenes/Logos/Logo-menu.png" style="height: 85px;"> 
              </a>
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/planificador/dashboard">Mi dashboard</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/planificador/favoritos">Favortios</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/planificador/eventos">Eventos</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/planificador/servicios">Servicios</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/planificador/planes">Planes</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" (click)="cerrarSesion()">Cerrar Session</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    
</div>