<app-sidebar-planificador></app-sidebar-planificador>
<div class="container-size">
  <div class="card mt-5">
    <div class="card-body">

      <!-- HEADER SERVICIOS -->
      <div class="container mb-12">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h3 class="card-title">Servicios</h3>
          </div>
          <div class="col-sm-12 col-md-6 mb-3">
            <input type="text" class="form-control" (keyup)="getSearch(); resetPagination();" [(ngModel)]="search" placeholder=" Buscar..." style="color:E4A193;">
          </div>
        </div>
      </div>
      <!-- /HEADER SERVICIOS -->

      <!-- WHITE CONTAINER FOR THE CARDS -->
      <div class="container bcolor">

        <div *ngIf="services.length === 0; else siHay" class="p-5" >
            <p class="text-center">No hay resultados</p>
        </div>

        <ng-template #siHay>
        <!-- CARD SERVICE -->
        <div *ngFor="let s of services" class="favoritos-container row px-3">
            <div class="col-12">
                <div class="row">
                    <!-- IMG -->
                    <div class="col-sm-12 col-md-4 my-2" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#modalInfo">
                        <img  class="img-thumbnail d-flex align-items-center" src="../../../assets/Imagenes/testimonios/test-pizzas.jpg" style="width: 300px; height: 200px; border-radius: 6px; object-fit: cover;">
                    </div>
                    <!-- /IMG -->

                    <!-- INFO -->
                    <div class="col-sm-12 col-md-8">
                        <div class="d-flex align-items-center flex-column" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#modalInfo">
                          <h3 class="color">{{ s.name }}</h3>
                          <h6>{{ s.description }}</h6>

                          <!-- STARS -->
                          <div class="stars mt-3" id="stars-div">
                              <app-stars-generate [amount]="s.rating"></app-stars-generate>
                          </div>
                          <!-- /STARS -->            
                        </div>

                        <!-- HEART -->
                        <div class="heart d-flex justify-content-end mt-4 mb-2"(click)="likeService($event)">
                          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16" style="color: #EE4A46; cursor:pointer; ">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                          </svg>
                        </div>
                        <!-- /HEART -->
                    </div>
                    <!-- /INFO -->
                </div>
            </div>
        </div>
        <!-- /CARD SERVICE -->
        </ng-template>

        <!-- CONTAINER PAGINATION -->
        <div *ngIf="services.length > 0" class="row mt-3">
          <div class="col-12">
            <!-- PAGINATION -->
            <div>
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <button class="page-link" aria-label="Previous" (click)="previousPage()">
                    <span aria-hidden="true">&laquo;</span>
                  </button>
                </li>
                
                <li *ngFor="let btnInfo of btns" class="page-item">
                    <button id="paginationBtn{{btnInfo.textBtn}}" class="page-link {{ currentPage === btnInfo.textBtn ? 'paginationActive': '' }}" (click)="getSearch( btnInfo.from ); getCurrentPage(btnInfo.textBtn);" >{{ btnInfo.textBtn }}</button>
                </li>
                
                <li class="page-item">
                  <button class="page-link" aria-label="Next" (click)="nextPage()">
                    <span aria-hidden="true">&raquo;</span>
                  </button>
                </li>
              </ul>
            </div>
            <!-- /PAGINATION -->
          </div>
        </div>
        <!-- /CONTAINER PAGINATION -->
      </div>
      <!-- /WHITE CONTAINER FOR THE CARDS -->
    </div>
  </div>
</div>

<!-- Modal Mas INFO -->
<div class="modal fade" id="modalInfo" tabindex="-1" aria-labelledby="modalInfoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalInfoLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- /Modal Mas INFO -->