
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#535e8a" type = "timer" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>

<img class="fondo" src="../../../assets/Imagenes/tipo-usuario/fondo.png">

<div class="texto"><h1>¿Qué tipo de usuario eres?</h1></div>

<div class="tipoPlani">
    <img  src="../../../assets/Imagenes/tipo-usuario/planificador.png" (click)="registerUser('tipoPlani')">
</div>
<div class="tipoProo">
    <img  src="../../../assets/Imagenes/tipo-usuario/proveedor.png" (click)="registerUser('tipoProo')">
</div>
