<div class="fondo-color">
    <div class="" style="margin-left: 40px; ">
        <button type="button" class="btn btn-secondary" routerLink="/compra-plan-empresarial">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"></path>
      </svg>
        </button>
        </div>
    <div class="container">
<br>
    <div class=" row">
<div class="col-sm-6 text-center">
    <div class="container">
    <h6 class="text-center" style="color: white;">Cuéntanos un poco más sobre tu organización y nos pondremos en contacto contigo.</h6>
    </div>
    <img class="rounded" src="../../../assets/Imagenes/Logos/contactanos-sin-fondo.png" style=" height: 79vh;">
</div>
<div class="col-sm-6 ">
    <!--<h2 style="color: white;">Cuéntanos un poco más sobre tu organización y nos pondremos en contacto contigo.</h2>-->
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label" >Nombre completo</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" required>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label" >Correo</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" required>
      </div>
      
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label" >Puesto de trabajo</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Seleccione su puesto de trabajo</option>
            <option value="1">Jefe</option>
            <option value="2">Director comercial</option>
            <option value="3">Marketing</option>
          </select>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label" >Compañia</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" required>
      </div><br>
      <div class="mb-3">
        <button class="w-100 h-50 btn btn-warning">Enviar</button>
      </div>
</div>
</div>
    </div>
