.navbar-dark{
    font-size: 20px;
}

.navbar-dark:hover{
    color: #E4A193;
}

.dropdown-item{
    color: #535E8A;
}

.color{
    background-color: #535E8A;
}

.login{
    margin-left: 250px;
}

.contenido{
    margin-left: 150px;
    
}

.dropdown-menu{
    background-color: #535E8A;
}

.dropdown-item{
    color: #ffff;
}

.dropdown-item:hover{
    color: #E4A193;
}

