<nav class="navbar sticky-top navbar-expand-lg bg-primary navbar-text-size" aria-label="Offcanvas navbar large">
  <div class="container">
      <a href="" style="margin-right: 100px;">
        <img src="../../../assets/Imagenes/Logos/Logo-menu.png" style="height: 85px;"> 
      </a>
   
    <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/hogar">Hogar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#Nosotros">Nosotros</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="offcanvasNavbarDarkDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Eventos
          </a>
        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDarkDropdown">
          <li><a class="dropdown-item" href="#Eventos">Tipo de evento</a></li>
          <li><a class="dropdown-item" href="#Servicios">Servicios</a></li>
          
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#Planes">Nuestros Planes</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="offcanvasNavbarDarkDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Más
        </a>
        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDarkDropdown">
          <li><a class="dropdown-item" href="#Testimonios">Testimonios</a></li>
          <li><a class="dropdown-item" href="#Contactanos">Contactanos</a></li>
          
        </ul>
      </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item login">
          <a class="nav-link active" aria-current="page" href="" routerLink="/login"> Iniciar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

