.container-size{
    margin-left: 350px;
    margin-right: 5ch;
}

.events-container{
    background-color: #071F4E;
    height: 50px;
    border-radius: .5ch;
    margin-top: 1em;
}

.bcolor{
    background-color: white;
    margin-bottom: 2em;
}