<app-sidebar-planificador></app-sidebar-planificador>
<div class="container-size" *ngIf="sidebarToggle==false">
  <div class="card mt-5">
    <div class="card-body">
      <div class="container mb-3">
        <div class="row">
          <div class="col">
            <h3 class="card-title">Eventos</h3>
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Buscar...">
            <div class="container mt-2">
              <p class="d-flex flex-row-reverse no-event" *ngIf="total_events>0">Total: {{total_events}}</p>
              <p class="d-flex flex-row-reverse no-event" *ngIf="total_events==0">No tienes ningun evento</p>
            </div>
            
          </div>
        </div>
        
      </div>
      <div class="container bcolor">
        <table class="table bcolor">
          <tbody class="container ">
            <tr *ngFor="let evento of eventos">
              <div class="favoritos">
                <div style="display: flex; justify-content: flex-start;">
                  <h6 class="color">{{evento.name}}</h6>
                  <p>Tipo de evento: {{evento.type}}</p>
                </div>
                <div class="d-flex flex-row-reverse">
                  <div (click)="delete_event()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" style="color: #F6B33E; cursor:pointer; margin-top:-50px; margin-right:90px; margin-left:40px;">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                    
                  </div>
                  <div (click)="edit_event()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" style="color: #F6B33E; cursor:pointer; margin-top:-50px; margin-right:-110px; ">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  </div>
                </div>
              </div>
            </tr>
            <tr>
              <div class="favoritos">
                <h6 class="color">Agregar un evento</h6>
                <div class="d-flex flex-row-reverse" routerLink="/planificador/seleccion-evento">
                  <div (click)="add_event()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16" style="color: #F6B33E; cursor:pointer; margin-top:-20px; margin-right:40px;">
                      <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                    </svg> 
                  </div>
                </div>
              </div>
            </tr>
            <tr>
            <br><br>
            <div>
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </div>
          </tbody>
          
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="sidebarToggle==true">
  <div class="card mt-5">
    <div class="card-header">
      <h5 class="card-title">TRUE</h5>
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.lalalalalalalalalalalalalalal</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>