
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active text-end imgnormalizada">
        <img src="../../../assets/Imagenes/Carrocel/car-personal.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-end">
            <button type="button" class="btn btn-warning">Más información</button>
        </div>
      </div>
      <div class="carousel-item text-end imgnormalizada">
        <img src="../../../assets/Imagenes/Carrocel/car-familiar.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-end">
            <button type="button" class="btn btn-warning">Más información</button>
        </div>
      </div>
      <div class="carousel-item text-en imgnormalizada">
        <img src="../../../assets/Imagenes/Carrocel/car-laboral.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-end">
            <button type="button" class="btn btn-warning">Más información</button>
        </div>
      </div>
   
    <div class="carousel-item text-end imgnormalizada">
        <img src="../../../assets/Imagenes/Carrocel/car-esccolar.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-end">
            <button type="button" class="btn btn-warning">Más información</button>
        </div>
      </div>
    </div>
 
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
<!-------------------------------------------------------------------->
<!-----------------------------NOSOTROS------------------------------->
<!-------------------------------------------------------------------->
<div class="container-xxl marketing text-center nosotros1 " id="nosotros">
  <br>
  <h1>NOSOTROS</h1>
    <!-- Three columns of text below the carousel -->
    <br>
    <div class="row  nosotros justify-content-center">
      <div class="g-col-6 g-col-md-4 card-body ">
       <!---- <svg class="bd-placeholder-img rounded-circle" width="100" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
       <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
      </svg>
      <h2 class="fw-normal">Visión</h2>
        <br>
        <p> Ser una plataforma líder en el mercado mexicano, consiguiendo así posicionarnos en los principales productos de creación y planificación de eventos</p>
      </div><!-- /.col-lg-4 -->
      <br>
      <div class="g-col-6 g-col-md-4 card-body">
        <!--<svg class="bd-placeholder-img rounded-circle" width="100" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
        <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-bullseye" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M8 13A5 5 0 1 1 8 3a5 5 0 0 1 0 10zm0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
          <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/>
          <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
        </svg>

        <h2 class="fw-normal">Misión</h2>
        <br>
        <p>Satisfacer a nuestos clientes para la realización de todo tipo de eventos, que consisten en: organización y planeación.</p>
<br>
      </div><!-- /.col-lg-4 -->
      <div class="g-col-6 g-col-md-4 card-body">
        <!--<svg class="bd-placeholder-img rounded-circle" width="100" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
        <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-gem" viewBox="0 0 16 16">
          <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z"/>
        </svg>

        <h2 class="fw-normal">Valores</h2>
        <br>
        <ul>
          <li><p>Respeto</p></li>
          <li><p>Responsabilidad</p></li>
          <li><p>Trabajo en equipo</p></li>
          <li><p>Calidad</p></li>
          </ul>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    </div>
    <!------------------------------------------------------------------->
    <!-----------------------------EVENTOS------------------------------->
    <!------------------------------------------------------------------->
    <br><br>
    <div class="container marketing text-center eventos " id="eventos">
      <br>
      <h1>EVENTOS</h1>   
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1 text-center ">Personal <br><br>
          <span class="text-muted">Festeja a lo grande tu cumpleaños, 
            con tus seres queridos</span></h2>
            <br><br>
            <button class="btn btn-warning">Inicia Ahora</button>
        </div>
      <div class="col-md-5">
        <img src="../../../assets/Imagenes/seleccion-eventos/personal.png">
      </div>
    </div>

    <!--<hr class="featurette-divider">-->
    <br>
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1 text-center ">Familiar <br><br>
          <span class="text-muted">Festeja a lo grande tu día especial, 
            con tus seres queridos</span></h2>
            <br><br>
            <button class="btn btn-warning">Inicia Ahora</button>  
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../../../assets/Imagenes/seleccion-eventos/familiar.png">

      </div>
    </div>

    <!--<hr class="featurette-divider">-->
<br>
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1 text-center ">Laboral <br><br>
          <span class="text-muted">Desde una junta de trabajo
            hasta el mejor día de tu vida.</span></h2>
            <br><br>
            <button class="btn btn-warning">Inicia Ahora</button> 
      </div>
      <div class="col-md-5">
        <img src="../../../assets/Imagenes/seleccion-eventos/laboral.png">
      </div>
    </div>

    <!--<hr class="featurette-divider">-->
<br>
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1 text-center ">Escolar <br><br>
          <span class="text-muted">Festeja a lo grande tu graduación, 
            con tus seres queridos</span></h2>
            <br><br>
            <button class="btn btn-warning">Inicia Ahora</button>  
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../../../assets/Imagenes/seleccion-eventos/escolar.png">

      </div>
    </div>

    <hr class="featurette-divider">

</div><!--Terminación del container-->

    <!------------------------------------------------------------------->
    <!-----------------------------SERVICIOS------------------------------->
    <!------------------------------------------------------------------->

    <div class="container eventos">
      <br><br>
      <h1>SERVICIOS</h1>
      <br>
      <div class="row">
        <div class="col-md-5 order-md-1">
          <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
          
          <img class="seccion-servicios" src="../../../assets/Imagenes/servicios/starbucks.png">
          <h2 class="fw-normal text-between">Starbucks</h2>
          <p>Consume el mejor cafe.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-5 order-md-1">
          <img class="seccion-servicios" src="../../../assets/Imagenes/servicios/little.jpg">
         
          <h2 class="fw-normal">Little caesars</h2>
          <p>La  mejor pizza de la historia</p>

        </div><!-- /.col-lg-4 -->
        
        <div class="col-md-5 order-md-1">
          <img class="seccion-servicios" src="../../../assets/Imagenes/servicios/pastel.png">
         
          <h2 class="fw-normal">Pasteleria marisa</h2>
          <p>Los mejores pasteles</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-md-5 order-md-1">
          <img class="seccion-servicios" src="../../../assets/Imagenes/servicios/taquiza.jpg">
         
          <h2 class="fw-normal">Taquiza</h2>
          <p>Te deleitara su sabor</p>
        </div><!-- /.col-lg-4 -->

        <!--<div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1 text-center ">Contamos con los mejores servicios 
            para hacer tu evento  <br><br></h2>
              <br><br>
              <h1>MÁS ESPECIAL</h1>
        </div>-->
      </div><!-- /.row -->
  

    </div>

    <!------------------------------------------------------------------->
    <!--------------------DESCARGA DE LA APP MOVIL----------------------->
    <!------------------------------------------------------------------->
    <br><br>
    <div class="contenedor">
      <img class="movil" src="../../../assets/Imagenes/appMovil.png"> 
      <div class="centrado"><h3>Descarguen nuestra <a href="#">aplicación móvil</a></h3>
      </div>
    </div>
    <!------------------------------------------------------------------->
    <!---------------------------TESTIMONIOS----------------------------->
    <!------------------------------------------------------------------->
<br><br>
<h1 class="eventos container">TESTIMONIOS</h1>
<br><br>
    <div class="container eventos galeria-container">
<div class="galeria--item">
  <img src="../../../assets/Imagenes/testimonios/test-tacos.jpg" class="galeria--img">
  <div class="galeria-testimonios">
  <h3>La taquiza Don Poncho</h3>
  <br>
  <p>Estan super buenos los tacos, ¡RECOMENDADO!</p>
  </div>
  </div>
 <div class="galeria--item">
  <img src="../../../assets/Imagenes/testimonios/tes-star.jpg" class="galeria--img">
  <div class="galeria-testimonios">
  <h3>StartBucks</h3>
  <br>
  <p>El mejor cafe que he comprado, ¡RECOMENDADO!</p>
  </div>
</div>
<div class="galeria--item">
  <img src="../../../assets/Imagenes/testimonios/test-pastel2.jpg" class="galeria--img">
  <div class="galeria-testimonios">
  <h3>Pasteleria Marissa</h3>
  <br>
  <p>De muy buena calidad, ¡RECOMENDADO!</p>
  </div>
</div>
<div class="galeria--item">
  <img src="../../../assets/Imagenes/testimonios/test-pastel.jpg" class="galeria--img">
  <div class="galeria-testimonios">
  <h3>Pasteleria Marissa</h3>
  <br>
  <p>La mejor opción que he hecho, ¡RECOMENDADO!</p>
  </div>
</div>
<div class="galeria--item">
  <img src="../../../assets/Imagenes/testimonios/test-tacos2.jpg" class="galeria--img">
  <div class="galeria-testimonios">
  <h3>Tacos "Los primos"</h3>
  <br>
  <p>Estan super buenos los tacos, ¡RECOMENDADO!</p>
  </div>
</div>
<div class="galeria--item">
  <img src="../../../assets/Imagenes/testimonios/test-star2.jpg" class="galeria--img">
  <div class="galeria-testimonios">
  <h3>StarBucks</h3>
  <br>
  <p>El cafe esta delicioso, ¡RECOMENDADO!</p>
  </div>
</div>
<div class="galeria--item">
  <img src="../../../assets/Imagenes/testimonios/test-pizzas.jpg" class="galeria--img">
  <div class="galeria-testimonios">
  <h3>LitterCesar</h3>
  <br>
  <p>Me encanta esta pizza, ¡RECOMENDADO!</p>
  </div>
</div>

    <!------------------------------------------------------------------->
    <!------------------------------PLANES------------------------------->
    <!------------------------------------------------------------------->
    <div class="container eventos">
      <h1>Nuestros Planes</h1>

    </div>

    <!------------------------------------------------------------------->
    <!-------------------------CONTACTANOS------------------------------->
    <!------------------------------------------------------------------->
    <!--<div class="container eventos">
      <h1>Contactanos</h1>
      
    </div>-->

    <!------------------------------------------------------------------->
    <!------------------------------FOOTER------------------------------->
    <!------------------------------------------------------------------->
    <!--<div class=" eventos">
      <img src="../../../assets/Imagenes/x.png" style="width: 100%; height: 390px; background-color: rgb(83, 94, 138, 0.6);">
      
    </div>-->
