<app-sidebar-planificador></app-sidebar-planificador>
<div class="container-size">
  <div class="card mt-5">
    <!--<div class="card-header">
      <h5 class="card-title">Eventos</h5>
    </div> -->
    <div class="card-body">
      <div class="container mb-3">
        <div class="row">
          <div class="col">
            <h3 class="card-title">Mis favoritos</h3>
          </div>
          <div class="col mb-3">
            <input type="text" class="form-control" placeholder=" Buscar..." style="color:E4A193;">
            <!--<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg> buscar-->
          </div>
        </div>
        
      </div>
      <div class="container bcolor">
        <table class="table bcolor">
          <!--<thead>
            <tr>
              
            </tr>
          </thead> -->
          <tbody class="container nav-fill">
            <tr>
              <div class="favoritos-container ">
              <img src="../../../assets/Imagenes/testimonios/test-pizzas.jpg" style="width: 50px; height: 50px; border-radius: 6px; object-fit: cover;">
              <h6 class="color">Pizza Little Cesar</h6>
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16" style="color: #EE4A46; cursor:pointer; margin-left:680px; height:auto;">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
              </svg>
              </div>
            </tr>
            <tr>
              <div class="favoritos-container nav-fill">
                <img src="../../../assets/Imagenes/testimonios/test-pastel.jpg" style="width: 50px; height: 50px; border-radius: 6px; object-fit: cover;">
                <h6 class="color">Pasteleria Marisa</h6>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16" style="color: #EE4A46; cursor:pointer; margin-left:680px; height:auto;">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
                </div>
            </tr>
           
<br><br>
            <div>
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </div>
          </tbody>
          
        </table>
      </div>
    </div>
  </div>
</div>

