<app-sidebar-planificador></app-sidebar-planificador>
<div class="container-size">
  <div class=" mt-5">
    
    <div class="card-body">
      
        <div class="row">
          <div class="col">

            <h2 class="container card-title">Selecciona  tu evento</h2>
          </div>
         
        </div>
        
      </div>
      <div class="row text-center">
        <div class="col-sm-6"  (click)="chooseType( 'Personal' )">
          <img src="../../../assets/Imagenes/seleccion-eventos/personal.png" style="cursor: pointer;">
        </div>
        <div *ngIf="typeAccount !== 'Gratuito'" class="col-sm-6 " (click)="chooseType( 'Familiar' )">
          <img src="../../../assets/Imagenes/seleccion-eventos/familiar.png" style="cursor: pointer;">
        </div>
      </div><br><br><br>
      <div *ngIf="typeAccount !== 'Gratuito' && typeAccount !== 'Premium'" class="row text-center" >
        <div class="col-sm-6" (click)="chooseType( 'Escolar' )">
            <img src="../../../assets/Imagenes/seleccion-eventos/escolar.png" style="cursor: pointer;">
        </div>
        <!-- AGREGAR IMAGEN RELACIONADO AL TIPO LABORAL -->
        <div class="col-sm-6" (click)="chooseType( 'Laboral' )">
         
          <img src="../../../assets/Imagenes/seleccion-eventos/laboral.png" style="cursor: pointer;">
      </div>
      </div>
    </div>
  </div>


