<div class="container d-flex justify-content-center">
     <div class="card container-size" style="width: 46rem; max-width: 100%; height: 100%;">
     <div class="card-body">
     <div class="row">
        <!-- CARD Premiun -->
        <div class="col-sm-12 col-md-6"> 
          <div class="card premium {{ planSelected === 'Premium' ? 'card-selected' :'' }}">
              <div class="card-body precios" style="cursor: pointer;" (click)="setPlanSelected( 'Premium' )">
                <h3 class=" text-center">Premium</h3>
                <p class="text-center titulo">Planifique y organice sus proximos eventos de manera eficiente</p>
               
                <div>
                  <p><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16" style="color: F6B33E;">
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                  </svg> Invitados ilimitados</p>
                  <p><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16" style="color: F6B33E;">
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                  </svg>Eventos ilimitados</p>
                </div>
                <div>
                  <h5 class="x">$150</h5><p style="font-size: 12px;">Por usuario mensualmente</p>
                </div>
              </div>
           </div>
          </div>

          <!-- CARD Empresarial -->
          <div class="col-sm-12 col-md-6">
               <div class="card {{ planSelected === 'Empresarial' ? 'card-selected' :'' }}">
                 <div class="card-body precios"        
                      style="cursor: pointer;" 
                      (click)="setPlanSelected( 'Empresarial' )">
                   <h3 class="text-center">Empresarial</h3>
                   <p class="text-center titulo">Planifique y organice sus proximos eventos de manera eficiente </p>
                   <div>
                     <p><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16" style="color: F6B33E;">
                       <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                     </svg> Invitados ilimitados</p>
                     <p><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16" style="color: F6B33E;">
                       <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                     </svg> Eventos ilimitados</p>
                     <p class="text-sm-start"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16" style="color: F6B33E;">
                       <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                     </svg> Descuentos semanales</p>
                   </div>
                   <div>
                     <h5 class="x">$2,000</h5><p style="font-size: 12px;">Por usuario mensualmente</p>
                   </div>
                 </div>
               </div>        
          </div>
     </div>
     
     <!-- Button next -->
     <!-- <div class=" mt-2 d-flex justify-content-end">
       <button type="button" class="btn btn-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
        </svg>
      </button>
    </div> -->
</div>

